-# coding: utf-8

.l-container-wide
  %aside.l-sidebar
    %section.contact
      %header.contact-header
        %h2= t('.contact-me')

      %p= t('.want-to-be-contacted')

      = simple_form_for([@working, @service_offering, @contact], wrapper: :vertical_form) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email_or_phone

        .form-actions
          = f.submit(t('.send'), class: 'btn btn-new')

  .l-content.l-with-sidebar
    %article.profile
      %header.profile-title
        %h1= @service_offering.title

      %hr

      %section.profile-details
        %p
          = @service_offering.description

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:response_time_upper_bound)
            %dd= distance_of_time_in_words(@service_offering.response_time_upper_bound.days)

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:updated_at)
            %dd
              %time{ datetime: l(@service_offering.updated_at.to_date, format: :html5) }
                = l(@service_offering.updated_at.to_date)

      %section.profile-details
        %header.profile-details-header
          %h2.divider= t('.public-service-infos')

        %dl
          .profile-definition
            %dt= PublicService.human_attribute_name(:title)
            %dd= @public_service.title

          .profile-definition
            %dt= PublicService.human_attribute_name(:description)
            %dd= @public_service.description

          - if @public_service.url
            .profile-definition
              %dt= PublicService.human_attribute_name(:url)
              %dd= link_to(@public_service.url, @public_service.url, target: '_blank')
