-# coding: utf-8

.l-container-narrow
  .l-content
    %section.form
      %legend Es-tu déjà inscrit·e à la/au…

      = simple_form_for(@working, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input :pole_emploi, as: :radio_buttons
        = f.input :mission_locale, as: :radio_buttons
        = f.input :cap_emploi, as: :radio_buttons
        = f.input :apec, as: :radio_buttons

        = f.button :submit, 'Continuer', class: 'btn btn-new'
