-# coding: utf-8

.l-container-narrow
  .l-content
    %section.wizard-form
      %h1.wizard-form-header Ton projet
      %hr

      = simple_form_for(@working, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input :sector,
                  include_blank: false,
                  prompt: 'Sélectionne une option',
                  collection: SECTORS,
                  label_method: :to_s,
                  value_method: :to_s,
                  as: :select

        = f.input :experience, as: :radio_buttons

        = f.input :duration,
                  include_blank: false,
                  prompt: 'Sélectionne une option',
                  collection: WORKING_DURATIONS,
                  label_method: :to_s,
                  value_method: :to_s,
                  as: :select

        = f.input :engagement,
                  include_blank: false,
                  prompt: 'Sélectionne une option',
                  collection: ENGAGEMENTS,
                  label_method: :to_s,
                  value_method: :to_s,
                  as: :select

        = f.button :submit, 'Continuer', class: 'button-primary'
