-# coding: utf-8

.l-container-narrow
  .l-content
    %section.profile-form
      %h1= t('.heading')

      %hr

      = simple_form_for([:agents, @service_offering], wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.association(:public_service)
        = f.input(:title)
        = f.input(:description)
        = f.input(:postal_address)
        = f.input(:email)
        = f.input(:phone)
        = f.input(:url)
        = f.input(:response_time_upper_bound)
        = f.association(:social_rights)

        = f.button(:submit, t('.update'), class: 'btn btn-edit')
        = link_to(t('.show'), agents_service_offering_path(@service_offering), class: 'btn btn-show')
        = link_to(t('.back'), agents_service_offerings_path, class: 'btn btn-cancel')

