-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %header.profile-list-header
        %h1= t('.heading')

      %hr

      .profile-list-new
        = link_to(t('.new'), new_agents_service_offering_path, class: 'btn btn-new btn-lg')

      .profile-list-content
        %table
          %thead
            %tr
              %th= ServiceOffering.human_attribute_name(:title)
              %th= ServiceOffering.human_attribute_name(:public_service)
              %th= ServiceOffering.human_attribute_name(:social_rights)
              %th
              %th
              %th

          %tbody
            - @service_offerings.each do |service_offering|
              %tr
                %td= service_offering.title
                %td= service_offering.public_service_title
                %td= service_offering.social_right_names
                %td= link_to(t('.show'), agents_service_offering_path(service_offering), class: 'btn btn-show')
                %td= link_to(t('.edit'), edit_agents_service_offering_path(service_offering), class: 'btn btn-edit')
                %td
                  = link_to t('.destroy'), agents_service_offering_path(service_offering), class: 'btn btn-destroy',
                                                                                           method: :delete,
                                                                                           data: { confirm: t('.confirm') }
