-# coding: utf-8

.l-container-narrow
  .l-content
    %article.profile
      %h1.profile-header= @service_offering.title
      %hr

      .profile-details
        %dl
          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:slug)
            %dd= @service_offering.slug

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:public_service)
            %dd
              = link_to(agents_public_service_path(@service_offering.public_service)) do
                = @service_offering.public_service_title

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:description)
            %dd= @service_offering.description

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:postal_address)
            %dd= @service_offering.postal_address

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:email)
            %dd= @service_offering.email

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:phone)
            %dd= @service_offering.phone

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:url)
            %dd= @service_offering.url

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:response_time_upper_bound)
            %dd= @service_offering.response_time_upper_bound

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:social_rights)
            %dd= @service_offering.social_right_name

          .profile-definition
            %dt= ServiceOffering.human_attribute_name(:updated_at)
            %dd= @service_offering.updated_at

      .profile-actions
        = render(partial: 'blocks/button_groups/agents_show', locals: { model: @service_offering })
