-# coding: utf-8

.l-content-narrow
  %article.profile
    %header.profile-title
      %h1= @service_offering.title

    %hr

    .profile-details
      %dl
        .profile-definition
          %dt= t(:public_service, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.public_service.try(:title)

        .profile-definition
          %dt= t(:code, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.code

        .profile-definition
          %dt= t(:description, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.description

        .profile-definition
          %dt= t(:postal_address, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.postal_address

        .profile-definition
          %dt= t(:email, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.email

        .profile-definition
          %dt= t(:phone, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.phone

        .profile-definition
          %dt= t(:url, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.url

        .profile-definition
          %dt= t(:external, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.external ? 'Oui' : 'Non'

        .profile-definition
          %dt= t(:social_rights, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.social_right_names

        .profile-definition
          %dt= t(:updated_at, scope: 'activerecord.attributes.service_offering')
          %dd= @service_offering.updated_at

    .profile-actions
      = link_to(t('.edit'), edit_agents_service_offering_path(@service_offering), class: 'btn btn-edit')
      = link_to(t('.back'), agents_service_offerings_path, class: 'btn btn-cancel')
