-# encoding: utf-8

= kss_block '3.1' do
  = render(partial: 'styleguides/prouns/button')

= kss_block '3.2' do
  = render(partial: 'styleguides/prouns/card')

= kss_block '3.3' do
  = render(partial: 'styleguides/prouns/navigation')

= kss_block '3.4' do
  = render(partial: 'styleguides/prouns/showcase')
