-# coding: utf-8

- content_for(:twitter_card) { render('blocks/twitter_card') }

.l-container-wide
  .l-content
    %section
      %h1
        - if feature?(:training)
          = t('views.landing.uvp_html', scenario: 'trouver une formation')

        - if feature?(:housing)
          = t('views.landing.uvp_html', scenario: 'trouver un logement')

        - if feature?(:working)
          = t('views.landing.uvp_html', scenario: 'trouver un emploi')

        - if feature?(:healthcaring)
          = t('views.landing.uvp_html', scenario: 'prendre soin de ta santé')

    %section.cta
      - if feature?(:working)
        = link_to(t('views.landing.cta'), workings_path, method: :post, class: 'button-primary', role: 'link')

      - if feature?(:training)
        = link_to(t('views.landing.cta'), trainings_path, method: :post, class: 'button-primary', role: 'link')

      - if feature?(:housing)
        = link_to(t('views.landing.cta'), housings_path, method: :post, class: 'button-primary', role: 'link')

      - if feature?(:healthcaring)
        = link_to(t('views.landing.cta'), healthcarings_path, method: :post, class: 'button-primary', role: 'link')

    %section
      %h1.divider
        Comment ça marche ?

      .box-row
        .box
          .card
            .card-badge 1
            .card-image= image_tag('person_pin.svg')
            %h2.card-header
              En
              = link_to('5 min', root_path, class: 'link-primary', role: 'link')
              trouve le bon contact

        .box
          .card
            .card-badge 2
            .card-image= image_tag('notifications_active.svg')
            %h2.card-header
              En
              = link_to('7 jours', root_path, class: 'link-primary', role: 'link')
              tu seras contacté·e

        .box
          .card
            .card-badge 3
            .card-image= image_tag('sentiment_very_satisfied.svg')
            %h2.card-header
              = link_to('Dis-nous', 'https://www.facebook.com/boussole.beta', role: 'link')
              comment ça s’est passé
