-# coding: utf-8

.l-container-wide
  .l-content
    %section.text-center
      %h1 Boussole

      %h3
        Des professionnel·le·s pour t'aider à

        - if feature?(:training)
          trouver une formation

        - if feature?(:housing)
          trouver un logement

        - if feature?(:working)
          trouver un emploi

        - if feature?(:healthcaring)
          prendre soin de ta santé

    %section.callout
      - if feature?(:working)
        = link_to('Commencer !', workings_path, method: :post, class: 'btn btn-new')

      - if feature?(:training)
        = link_to('Commencer !', trainings_path, method: :post, class: 'btn btn-new')

      - if feature?(:housing)
        = link_to('Commencer !', housings_path, method: :post, class: 'btn btn-new')

      - if feature?(:traveling)
        = link_to('Commencer !', travelings_path, method: :post, class: 'btn btn-new')

      - if feature?(:healthcaring)
        = link_to('Commencer !', healthcarings_path, method: :post, class: 'btn btn-new')
