-# coding: utf-8

- content_for(:twitter_card) { render('layouts/twitter_card') }

.l-container-wide
  .l-content
    %section.text-center
      %h1 Boussole

      %h3
        Des professionnel·le·s pour t'aider à

        - if feature?(:training)
          trouver une formation

        - if feature?(:housing)
          trouver un logement

        - if feature?(:working)
          trouver un emploi

        - if feature?(:healthcaring)
          prendre soin de ta santé

    %section.callout
      - if feature?(:working)
        = link_to('Trouve le bon contact', workings_path, method: :post, class: 'btn btn-new')

      - if feature?(:training)
        = link_to('Trouve le bon contact', trainings_path, method: :post, class: 'btn btn-new')

      - if feature?(:housing)
        = link_to('Trouve le bon contact', housings_path, method: :post, class: 'btn btn-new')

      - if feature?(:traveling)
        = link_to('Trouve le bon contact', travelings_path, method: :post, class: 'btn btn-new')

      - if feature?(:healthcaring)
        = link_to('Trouve le bon contact', healthcarings_path, method: :post, class: 'btn btn-new')
