-# coding: utf-8

- content_for(:twitter_card) { render('blocks/twitter_card') }

.l-container-wide
  .l-content
    %section
      %h1= t('views.landing.uvp_html')

    %section.cta
      = link_to(workings_path, method: :post, class: 'button-primary', role: 'link') do
        %i.icon-working{ aria: { hidden: true } }
        = t('views.landing.working')

      = link_to(housings_path, method: :post, class: 'button-primary', role: 'link') do
        %i.icon-housing{ aria: { hidden: true } }
        = t('views.landing.housing')

    %section
      %h1.divider
        = t('views.landing.how_it_works')

      .box-row
        .box
          .card
            .card-badge 1
            .card-image
              = image_tag('person_pin.svg')
            %h2.card-header
              = t('views.landing.step_1_html', class: 'link-primary', href: root_path)

        .box
          .card
            .card-badge 2
            .card-image
              = image_tag('notifications_active.svg')
            %h2.card-header
              = t('views.landing.step_2_html', class: 'link-primary', href: root_path)

        .box
          .card
            .card-badge 3
            .card-image
              = image_tag('sentiment_very_satisfied.svg')
            %h2.card-header
              = t('views.landing.step_3_html', class: '', href: 'https://www.facebook.com/boussole.beta')
