-# coding: utf-8

- content_for(:twitter_card) { render('blocks/twitter_card') }

.l-container-wide
  .l-content
    %section.text-center
      %h1= t('layouts.application.title')

      %h2
        - if feature?(:training)
          = t('views.landing.description', scenario: 'trouver une formation')
          trouver une formation

        - if feature?(:housing)
          = t('views.landing.description', scenario: 'trouver un logement')

        - if feature?(:working)
          = t('views.landing.description', scenario: 'trouver un emploi')

        - if feature?(:healthcaring)
          = t('views.landing.description', scenario: 'prendre soin de ta santé')

    %section.callout
      - if feature?(:working)
        = link_to(t('views.landing.callout'), workings_path, method: :post, class: 'button-success')

      - if feature?(:training)
        = link_to(t('views.landing.callout'), trainings_path, method: :post, class: 'button-success')

      - if feature?(:housing)
        = link_to(t('views.landing.callout'), housings_path, method: :post, class: 'button-success')

      - if feature?(:healthcaring)
        = link_to(t('views.landing.callout'), healthcarings_path, method: :post, class: 'button-success')

    - if feature?(:how_does_it_work)
      %br

      %section
        %h1.divider
          Comment ça marche ?

        .result
          .card
            / .card-badge 1
            .card-image= image_tag('person_pin.svg')
            .card-body.text-center
              En
              %b 5 min
              trouve le bon contact

        .result
          .card
            / .card-badge 2
            .card-image= image_tag('notifications_active.svg')
            .card-body.text-center
              En
              %b 7 jours
              tu seras contacté·e

        .result
          .card
            / .card-badge 3
            .card-image= image_tag('sentiment_very_satisfied.svg')
            .card-body.text-center
              %b
                %a{ href: 'https://www.facebook.com/boussole.beta', style: 'color: #e0691a;' }
                  Dis-nous
              comment ça s’est passé

