-# coding: utf-8

.l-container-wide
  .l-content.l-with-sidebar
    %article
      %header
        %h1= @service_offering.title

      %hr

      = render partial: 'blocks/contact',
               locals: { project: project, service_offering: @service_offering, contact: @contact }

      %section
        %p
          = @service_offering.description

        %p
          %b= t('activerecord.attributes.service_offering.updated_at')
          le
          %time{ datetime: l(@service_offering.updated_at.to_date, format: :html5) }
            = l(@service_offering.updated_at.to_date)

  %aside.l-sidebar
    = render(partial: 'blocks/public_service', locals: { public_service: @public_service })
