-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header
        = link_to(@service_offering.title, agents_service_offering_path(@service_offering))

      %hr

      -# TODO: create partials for this
      .profile-form
        %table
          %thead
            %tr
              -# TODO: translate
              %th Critère
              %th Public cible
              %th
              %th

          %tbody
            = simple_form_for([:agents, @service_offering, @target_public], wrapper: :vertical_form) do |f|
              %tr
                -# TODO: translate
                %td Disponibilité
                %td
                  = f.association(:engagements, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                %td Durée souhaitée
                %td
                  = f.association(:working_durations, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'



              %tr
                -# TODO: translate
                %td Niveau d'études
                %td
                  = f.association(:last_classes, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Expérience dans le secteur
                %td
                  = f.association(:experiences, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Inscrit·e à Pôle Emploi
                %td
                  = f.association(:pole_emplois, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Inscrit·e à une mission locale ?
                %td
                  = f.association(:mission_locales, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                %td Inscrit·e à Cap emploi ?
                %td
                  = f.association(:cap_emplois, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Inscrit·e à l'Apec ?
                %td
                  = f.association(:apecs, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td En situation de handicap ?
                %td
                  = f.association(:handicaps, label: false, label_method: ->(o) { t(o.value.to_s) }, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Définition du projet
                %td
                  = f.association(:awarenesses, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'


              %tr
                -# TODO: translate
                %td Statut
                %td
                  = f.association(:housing_statuses, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

              %tr
                -# TODO: translate
                %td Durée souhaitée pour le logement
                %td
                  = f.association(:housing_durations, label: false, as: :check_boxes)
                %td
                %td.profile-form-actions
                  = f.button :submit, t('blocks.button_groups.update'), class: 'btn btn-warning'

