-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header
        = link_to(@service_offering.title, agents_service_offering_path(@service_offering))
      %hr

      .profile-list-content
        %table
          %thead
            %tr
              %th Critère
              %th Public cible
              %th

          %tbody
            = simple_form_for([:agents, @service_offering, @target_public], wrapper: :vertical_form) do |f|
              %tr
                %td= 'Statut'
                %td= f.association(:statuses, label: false, as: :check_boxes)
                %td= f.button :submit, 'Mettre à jour', class: 'btn btn-warning'

              %tr
                %td= 'Disponibilité'
                %td= f.association(:engagements, label: false, as: :check_boxes)
                %td= f.button :submit, 'Mettre à jour', class: 'btn btn-warning'

              %tr
                %td= "Niveau d'études"
                %td= f.association(:last_classes, label: false, as: :check_boxes)
                %td= f.button :submit, 'Mettre à jour', class: 'btn btn-warning'

              %tr
                %td= 'Expérience dans le secteur'
                %td= f.association(:experiences, label: false, as: :check_boxes)
                %td= f.button :submit, 'Mettre à jour', class: 'btn btn-warning'

              %tr
                %td= 'Inscrit·e à Pôle Emploi'
                %td= f.association(:pole_emplois, label: false, as: :check_boxes)
                %td= f.button :submit, 'Mettre à jour', class: 'btn btn-warning'
