-# coding: utf-8

.l-container-narrow
  .l-content
    %section.wizard-form
      %h1.wizard-form-header Domaine et formation
      %hr

      = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input :domain, label: 'Domaine',
                           collection: DOMAINS,
                           include_blank: false,
                           input_html: { rel: 'autocomplete' }

        = f.input :experience, label: "J'ai déjà une expérience dans ce domaine"

        = render(partial: 'blocks/button_groups/wizard_nth_step')
