.col-md-6.col-md-offset-3
  %legend Formation

  = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
    = f.error_notification

    .form-inputs
      = f.input :profession, label: 'Dans quel métier veux-je me former ?',
                             collection: Project::PROFESSIONS,
                             include_blank: false,
                             input_html: { rel: 'autocomplete' }

      = f.input :experience, label: 'Ai-je déjà une expérience dans ce metier ?'

    .form-actions
      = f.button :submit, 'Continuer'
