.col-md-6.col-md-offset-3
  %legend Domaine et formation

  = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
    = f.error_notification

    .form-inputs
      = f.input :domain, label: 'Domaine',
                         collection: DOMAINS,
                         include_blank: false,
                         input_html: { rel: 'autocomplete' }

      = f.input :experience, label: "J'ai déjà une expérience dans ce domaine"

    .form-actions
      = f.button :submit, 'Continuer'
