-# coding: utf-8

.l-container-narrow
  .l-content
    %article.wizard-form
      %h1.wizard-form-header Je suis inscrit·e à la/au…
      %hr

      = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input :pe, label: 'Pôle emploi'
        = f.input :ml, label: 'Mission locale'
        - if @project.handicap?
          = f.input :cap, label: 'Cap emploi'
        = f.input :apec, label: "Association pour l'emploi des cadres"

        = render(partial: 'blocks/button_groups/wizard_last_step')
