.col-md-6.col-md-offset-3
  %legend Mon profil

  = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
    = f.error_notification

    .form-inputs
      = f.input :age, label: 'Âge'
      = f.input :status, label: 'Situation',
                         include_blank: false,
                         prompt: 'Sélectionne une option',
                         collection: Project::STATUS,
                         label_method: :to_s,
                         value_method: :to_s,
                         as: :select

      = f.input :city, label: 'Ville',
                         include_blank: false,
                         prompt: 'Sélectionne une option',
                         collection: Project::CITIES,
                         label_method: :to_s,
                         value_method: :to_s,
                         as: :select

      = f.input :handicap, label: 'Suis-je en situation de handicap ?'

    .form-actions
      = f.button :submit, 'Continuer'
