.col-md-6.col-md-offset-3
  %legend Mon profil

  = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
    = f.error_notification

    .form-inputs
      = f.input :age, label: 'Âge'

      = f.input :city, label: 'Ville',
                         include_blank: false,
                         prompt: 'Sélectionne une option',
                         collection: CITIES,
                         label_method: :to_s,
                         value_method: :to_s,
                         as: :select

      = f.input :status, label: 'Situation',
                         include_blank: false,
                         prompt: 'Sélectionne une option',
                         collection: STATUSES,
                         label_method: :to_s,
                         value_method: :to_s,
                         as: :select

      = f.input :degree, label: 'Ai-je un diplôme ?',
                         include_blank: false,
                         prompt: 'Sélectionne une option',
                         collection: DEGREES,
                         label_method: :to_s,
                         value_method: :to_s,
                         as: :select

      = f.input :last_class, label: 'Dernières études suivies',
                             include_blank: false,
                             prompt: 'Sélectionne une option',
                             collection: LAST_CLASSES,
                             label_method: :to_s,
                             value_method: :to_s,
                             as: :select

      = f.input :intention, label: 'Je veux continuer mes études'
      = f.input :handicap, label: 'Je suis en situation de handicap'

    .form-actions
      = f.button :submit, 'Continuer'
