-# coding: utf-8

.l-container-narrow
  .l-content
    %section.profile-form
      %h1.profile-form-header= t('.heading')
      %hr

      = simple_form_for([:agents, @public_service], wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input(:title)
        = f.input(:description)
        = f.input(:postal_address)
        = f.input(:email)
        = f.input(:phone)
        = f.input(:url)
        = f.input(:response_time_upper_bound)
        = f.association(:social_rights)

        = f.button(:submit, t('.update'), class: 'button-warning')
        = link_to(t('.show'), agents_public_service_path(@public_service), class: 'button-info')
        = link_to(t('.back'), agents_public_services_path, class: 'button-default')

