-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header= t('.heading', rhizome: t("rhizomes.#{ENV.fetch('RHIZOME')}"))
      %hr

      .profile-list-new
        = link_to(t('.new'), new_agents_public_service_path, class: 'button-default', role: 'link')

      .profile-list-content
        %table
          %thead
            %tr
              %th= PublicService.human_attribute_name(:title)
              %th= PublicService.human_attribute_name(:social_rights)
              %th
              %th
              %th

          %tbody
            - @public_services.each do |public_service|
              %tr
                %td= public_service.title
                %td= public_service.social_right_names
                = render(partial: 'blocks/button_groups/agents_index', locals: { model: public_service })
