-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header= t('.heading')
      %hr

      .profile-list-new
        = link_to(t('.new'), new_agents_public_service_path, class: 'button-default', role: 'link')

      .profile-list-content
        %table
          %thead
            %tr
              %th= PublicService.human_attribute_name(:title)
              %th= PublicService.human_attribute_name(:social_rights)
              %th
              %th
              %th

          %tbody
            - @public_services.each do |public_service|
              %tr
                %td= public_service.title
                %td= public_service.social_right_names
                %td= link_to(t('.show'), agents_public_service_path(public_service), class: 'button-info', role: 'link')
                %td
                  = link_to t('.edit'), edit_agents_public_service_path(public_service), class: 'button-warning',
                                                                                         role: 'link'
                %td
                  = link_to t('.destroy'), agents_public_service_path(public_service), class: 'button-danger',
                                                                                       method: :delete,
                                                                                       role: 'link',
                                                                                       data: { confirm: t('.confirm') }
