-# coding: utf-8

.l-container-narrow
  .l-content
    %article.profile
      %h1.profile-header= @public_service.title
      %hr

      .profile-details
        %dl
          .profile-definition
            %dt= PublicService.human_attribute_name(:slug)
            %dd= @public_service.slug

          .profile-definition
            %dt= PublicService.human_attribute_name(:description)
            %dd= @public_service.description

          .profile-definition
            %dt= PublicService.human_attribute_name(:postal_address)
            %dd= @public_service.postal_address

          .profile-definition
            %dt= PublicService.human_attribute_name(:email)
            %dd= @public_service.email

          .profile-definition
            %dt= PublicService.human_attribute_name(:phone)
            %dd= @public_service.phone

          .profile-definition
            %dt= PublicService.human_attribute_name(:url)
            %dd= @public_service.url

          .profile-definition
            %dt= PublicService.human_attribute_name(:response_time_upper_bound)
            %dd= @public_service.response_time_upper_bound

          .profile-definition
            %dt= PublicService.human_attribute_name(:social_rights)
            %dd= @public_service.social_right_names

          .profile-definition
            %dt= PublicService.human_attribute_name(:updated_at)
            %dd= @public_service.updated_at

      .profile-actions
        = render(partial: 'blocks/button_groups/agents_show', locals: { model: @public_service })
