-# coding: utf-8

.l-container-narrow
  .l-content
    %article.profile
      %h1.profile-header= @public_service.title
      %hr

      .profile-details
        %dl
          .profile-definition
            %dt= PublicService.human_attribute_name(:slug)
            %dd= @public_service.slug

          .profile-definition
            %dt= PublicService.human_attribute_name(:description)
            %dd= @public_service.description

          .profile-definition
            %dt= PublicService.human_attribute_name(:postal_address)
            %dd= @public_service.postal_address

          .profile-definition
            %dt= PublicService.human_attribute_name(:email)
            %dd= @public_service.email

          .profile-definition
            %dt= PublicService.human_attribute_name(:phone)
            %dd= @public_service.phone

          .profile-definition
            %dt= PublicService.human_attribute_name(:url)
            %dd= @public_service.url

          .profile-definition
            %dt= PublicService.human_attribute_name(:response_time_upper_bound)
            %dd= @public_service.response_time_upper_bound

          .profile-definition
            %dt= PublicService.human_attribute_name(:social_rights)
            %dd= @public_service.social_right_names

          .profile-definition
            %dt= PublicService.human_attribute_name(:territorial_competences)
            - @public_service.territorial_competences.to_a.select(&:present?).each do |city|
              %dd= city

          .profile-definition
            %dt= PublicService.human_attribute_name(:updated_at)
            %dd= @public_service.updated_at

          .profile-definition
            %dt= PublicService.human_attribute_name(:service_offerings)
            - @public_service.service_offerings.each do |service_offering|
              %dd
                = link_to service_offering.title,
                          agents_service_offering_path(service_offering),
                          role: 'link'

      .profile-form-actions
        = render(partial: 'blocks/button_groups/agents_show', locals: { model: @public_service })
