-# coding: utf-8

/ %section.text-center
/   %h1 Boussole des droits


%section.text-center
  %address
    %h3= @service[:name]
    = @service[:address]
    %br
    %abbr{ title: 'Email' }
      E :
      = @service[:email]
    %br
    %abbr{ title: 'Téléphone' }
      T :
      = @service[:phone]
    %br
    %abbr{ title: 'Site' }
      W :
      = @service[:phone]

  %h5 Un·e professionnel·le est disponible pour t'aider à :

  - @service[:services].each do |service|
    .col-md-4
      %br
      %br
      %p.small
        = service

%section.text-center
  = link_to('Prendre un RDV', '#', class: 'btn btn-new')
