-# coding: utf-8

.l-content
  %section.results
    %header.results-header
      %h1= t('.heading')

    %section.result-list
      %header.result-list-header
        %h2= t('.service_offerings')

      - @service_offerings.each do |service_offering|
        .result
          = link_to(housing_service_offering_path(@housing, service_offering)) do
            %article.result-card
              %header.result-header
                %h3= service_offering.title

                %p
                  Dernière actualisation :
                  -# TODO: Use rails view helper for date formatting
                  %time{ datetime: '2016-09-08 14:04:55 UTC' }
                    = service_offering.updated_at.strftime('%d-%m-%Y')

              %section.result-content
                %p= truncate(service_offering.description, length: 200)

                %address.result-address
                  -# TODO: Add something here !!!

              %footer.result-footer
                = link_to('Découvrir', housing_service_offering_path(@housing, service_offering), class: 'btn btn-new')
