-# coding: utf-8

%aside.l-sidebar
  %article.summary
    %header.summary-header
      %h1= t('.heading')

    -# TODO: Get rid of.
    %hr
    %br

    .summary-details
      %dl
        .summary-definition
          %dt= t(:duration, scope: 'activerecord.attributes.housing')
          %dd= @housing.duration

        .summary-definition
          %dt= t(:housing_city, scope: 'activerecord.attributes.housing')
          %dd= @housing.housing_city

        .summary-definition
          %dt= t(:resources, scope: 'activerecord.attributes.housing')
          %dd= number_to_currency(@housing.resources, unit: '€', precision: 0)

        .summary-definition
          %dt= t(:current_status, scope: 'activerecord.attributes.housing')
          %dd= @housing.current_status

        .summary-definition
          %dt= t(:next_status, scope: 'activerecord.attributes.housing')
          %dd= @housing.next_status ? 'Oui' : 'Non'

        .summary-definition
          %dt= t(:residence_city, scope: 'activerecord.attributes.housing')
          %dd= @housing.residence_city

        .summary-definition
          %dt= t(:age, scope: 'activerecord.attributes.housing')
          %dd= @housing.age
