.l-container-wide
  %aside.l-sidebar
    %section.jumbotron
      %legend Être contacté·e

      Souhaites-tu que cette ou ce professionnel·le te contacte suite à ta recherche ?
      %br
      %br

      = simple_form_for(Contact.new, url: contact_path, method: :post, wrapper: :vertical_form) do |f|
        .form-inputs
          = f.input_field :email_or_phone, placeholder: 'Email ou téléphone', style: 'width: 100%;'

        %br
        .form-actions
          = link_to('Envoyer !', '#', class: 'btn btn-new', style: 'width: 100%;')

  .l-content.l-with-sidebar
    %article.profile
      %header.profile-title.text-center
        %h2 Trouver une chambre dans une résidence étudiante privée

      %hr

      %section.profile-details
        %p
          La MGEl propose aux étudiants (actuels et futurs) une offre de location de studios ou d'appartement au sein de plusieurs résidences privées sur Reims. La MGEl peut t'aider à trouver une solution logement adaptée à ta situation.

          .profile-definition
            %dt= t(:updated_at, scope: 'activerecord.attributes.service_offering')
            %dd 08-09-2016

      %section.profile-details
        %header.result-list-header
          %h2 Coordonnées de l'acteur

        %dl
          .profile-definition
            %dt= t(:title, scope: 'activerecord.attributes.public_service')
            %dd Mutuelle générale des étudiants de l'Est (MGEL)

          .profile-definition
            %dt= t(:description, scope: 'activerecord.attributes.public_service')
            %dd La MGEL gère le régime étudiant de la Sécurité sociale. Elle propose aussi des places en résidences dans la région Grand Est.

          .profile-definition
            %dt= t(:url, scope: 'activerecord.attributes.public_service')
            %dd http://www.mgellogement.fr/

          .profile-definition
            %dt= t(:social_rights, scope: 'activerecord.attributes.public_service')
            %dd Logement
