- @results.each do |public_service|
  %section.text-center
    %address
      %h3= public_service['title']
      %p= public_service['description']
      = public_service['address']['postal_address']
      %br
      %abbr{ title: 'Email' }
        E :
        = public_service['address']['email']
      %br
      %abbr{ title: 'Téléphone' }
        T :
        = public_service['address']['phone']
      %br
      %abbr{ title: 'Site' }
        W :
        = public_service['address']['url']

    %h5 Un·e professionnel·le est disponible pour t'aider à :

    - public_service['offer'].each do |service|
      .col-md-4
        %br
        %br
        %p.small
          = service

  - public_service[:mesures].each do |mesure|
    %section.text-center
      %address
        %h4= mesure['title']
        %p= mesure['description']
        %br
        %abbr{ title: 'Site' }
          W :
          = mesure['url']

%section.text-center
  = link_to('Prendre un RDV', '#', class: 'submit btn-default')
