.col-md-6.col-md-offset-3
  %legend Ta recherche

  = simple_form_for(@housing, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
    = f.error_notification

    .form-inputs
      = f.input :duration, label: 'Pour',
                           include_blank: false,
                           prompt: 'Sélectionne une option',
                           collection: Housing::DURATION,
                           label_method: :to_s,
                           value_method: :to_s,
                           as: :select

      = f.input :housing_city, label: 'Dans quelle commune souhaites-tu te loger ?',
                               collection: Project::CITIES,
                               include_blank: false,
                               input_html: { rel: 'autocomplete' }

      = f.input :resources, label: 'Quelles sont tes ressources mensuelles (€) ? '

    .form-actions
      = f.button :submit, 'Continuer'
