-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header= t('.heading', rhizome: t("rhizomes.#{ENV.fetch('RHIZOME')}"))
      %hr

      .profile-list-new
        = link_to(t('.new'), new_agents_measure_path, class: 'button-default', role: 'link')

      .profile-list-content
        %table
          %thead
            %tr
              %th= Measure.human_attribute_name(:title)
              %th= Measure.human_attribute_name(:public_service)
              %th= Measure.human_attribute_name(:social_rights)
              %th
              %th
              %th

          %tbody
            - @measures.each do |measure|
              %tr
                %td= measure.title
                %td= measure.public_service_title
                %td= measure.social_right_names
                = render(partial: 'blocks/button_groups/agents_index', locals: { model: measure })
