-# coding: utf-8

.l-container-wide
  .l-content
    %section.profile-list
      %h1.profile-list-header= t('.heading')
      %hr

      .profile-list-new
        = link_to(t('.new'), new_agents_measure_path, class: 'button-primary')

      .profile-list-content
        %table
          %thead
            %tr
              %th= Measure.human_attribute_name(:title)
              %th= Measure.human_attribute_name(:public_service)
              %th= Measure.human_attribute_name(:social_rights)
              %th
              %th
              %th

          %tbody
            - @measures.each do |measure|
              %tr
                %td= measure.title
                %td= measure.public_service_title
                %td= measure.social_right_names
                %td= link_to(t('.show'), agents_measure_path(measure), class: 'button-info')
                %td= link_to(t('.edit'), edit_agents_measure_path(measure), class: 'button-warning')
                %td
                  = link_to t('.destroy'), agents_measure_path(measure), class: 'button-danger',
                                                                                           method: :delete,
                                                                                           data: { confirm: t('.confirm') }
