-# coding: utf-8

.l-container-narrow
  .l-content
    %article.profile
      %h1.profile-header= @measure.title
      %hr

      .profile-details
        %dl
          .profile-definition
            %dt= Measure.human_attribute_name(:public_service)
            %dd= @measure.public_service_title

          .profile-definition
            %dt= Measure.human_attribute_name(:description)
            %dd= @measure.description

          .profile-definition
            %dt= Measure.human_attribute_name(:url)
            %dd= @measure.url

          .profile-definition
            %dt= Measure.human_attribute_name(:social_rights)
            %dd= @measure.social_right_names

          .profile-definition
            %dt= Measure.human_attribute_name(:updated_at)
            %dd= @measure.updated_at

      .profile-form-actions
        = render(partial: 'blocks/button_groups/agents_show', locals: { model: @measure })
