-# coding: utf-8

.l-container-wide
  .l-content
    %section.results
      %header.results-header
        %h1= t("#{project.class.name.underscore.pluralize}.show.heading")

      - if @service_offerings.any?
        %section.result-list
          %header.result-list-header
            %h2.divider
              = t("#{project.class.name.underscore.pluralize}.show.service_offerings")

          - @service_offerings.each do |service_offering|
            .result
              = link_to(send("#{project.class.name.underscore}_service_offering_path", project, service_offering)) do
                %article.result-card
                  %header.result-header
                    %h3= service_offering.title

                    %p
                      = t("activerecord.attributes.#{project.class.name.underscore}.updated_at") + ' :'
                      %time{ datetime: l(service_offering.updated_at.to_date, format: :html5) }
                        = l(service_offering.updated_at.to_date)

                  %section.result-content
                    %p= truncate(service_offering.description, length: 200)

                  %footer.result-footer
                    = link_to t("#{project.class.name.underscore.pluralize}.show.discover"),
                              send("#{project.class.name.underscore}_service_offering_path", project, service_offering),
                              class: 'btn btn-new'

      - else
        %section.no-result
          %article.no-result-card
            %p
              La machine n'as pas pu trouver des résultats et nous travaillons dans ce moment pour l'améliorer.
            %p
              = mail_to(ENV['CONTACT_EMAIL'], "Mais nous sommes à ta disposition pour t'aider à trouver le bon contact !")

            .no-result-image
