-# coding: utf-8

.l-container-wide
  .l-content
    %section.results
      %header.results-header
        %h1= t('views.results.header')

      - if @service_offerings.any?
        %section.result-list
          %header.result-list-header
            %h2.divider
              = t('views.results.result_list.header')

          - @service_offerings.each do |service_offering|
            .result
              = link_to(send("#{project.class.name.underscore}_service_offering_path", project, service_offering)) do
                %article.result-card
                  %header.result-header
                    %h3= service_offering.title

                    %p
                      = t("activerecord.attributes.#{project.class.name.underscore}.updated_at") + ' :'
                      %time{ datetime: l(service_offering.updated_at.to_date, format: :html5) }
                        = l(service_offering.updated_at.to_date)

                  %section.result-content
                    %p= truncate(service_offering.description, length: 200)

                  %footer.result-footer
                    = link_to t('views.results.result_list.result_card.footer'),
                              send("#{project.class.name.underscore}_service_offering_path", project, service_offering),
                              class: 'btn btn-new'

      - else
        %section.no-result
          %p.no-result-description
            = t('views.results.no_result.description')
          %p.no-result-contact
            = mail_to(ENV['CONTACT_EMAIL'], t('views.results.no_result.contact'))

          .no-result-image
